
section.animation {
    opacity: 0;
    width: 190vw;
    height: 100vh;


    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadein 2s 1s both;

    
    div.letters, div.clip, div.back-image {
        width: 100%;
        height: 100%;
        position: absolute;
        
        left: 0;
    }
   
    div.letters {
        top: 80px;
        z-index: 3;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        padding: 32px 0;

        @include mq($mq-sm) { 
            padding: 0;
        }

        div.line1, div.line2, div.line3, div.line4, div.line5, div.line6 {
            display: flex;
            flex-wrap: nowrap;
            max-height: 20%;
            @include mq($mq-s) {
                max-height: 25%;
            }
            span {
                display: inline-block;
                min-width: 100vh;

                @include mq($mq-s) {
                    min-width: 90vh;
                }
                
            }
            span img {
                width: 100%;
            }
        }
        div.line1, div.line3, div.line5 {
            flex-direction: row;
        }
        div.line2, div.line4, div.line6 {
            flex-direction: row-reverse;
        }
        div.line2 img {
            transform: translateX(10.5%);
        }

        div.line5, div.line6 {
            display: none;
            @include mq($mq-s) {
            display: flex;
            }
        }
    }
    div.back-image {
        background: #FFFFFF;
        background: url(img/back2.jpg);
        filter: blur(4px);
        
    }

    div.back-image, div.clip {
        width: 100vw;
        // height: 100vw;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    div.clip {
        background-image: url(img/back2.jpg);
        clip-path: inset(0 2vw 0 92vw);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.7;
        filter: blur(0px);
    }
 

    div.tracingpaper {
        width: 190vw;
        height: 110vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        z-index: 2;
        filter: blur(5px);
        

        div.gray1, div.gray2 {
            height: 100%;
            background-color: #FBFAFA;
            background: linear-gradient(1.81deg, #E5E3E4 1.03%, rgba(228, 227, 227, 0.6) 32.34%, rgba(235, 234, 234, 0.7) 53.55%, rgba(248, 247, 247, 0.5) 76.78%, rgba(244, 244, 244, 0.88871) 95.98%);

        }

        div.gray1 {
            width: 90vw;
        }
        div.gray2 {
            width: 90vw;
        }
        div.clear {
            height: 100%;
            width: 10vw;
            background: linear-gradient(360deg, #E5E3E3 0%, rgba(229, 227, 227, 0) 11.98%, rgba(232, 230, 230, 0) 87.5%, #FBFAFA 97.4%);

        }
    }
    
    // div.shadow {
    //     position: absolute;
    //     top: 0;
    //     left: 50vw;
    //     width: 2vw;
    //     height: 100vh;
    //     color: yellow;
    //     z-index: 150;
        
    // }
}


