@font-face {
    font-family: "HeliosRegular";
    src: url(fonts/HeliosExt.otf)
}
@font-face {
    font-family: "HeliosBold";
    src: url(fonts/HeliosExt-Bold.otf)
}

body {
    font-family: "HeliosRegular";
    font-size: 16px;
    background-color: #FDFCFC;
}

header {
    height: 80px;
    padding: 40px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}

header h1 span {
    font-family: HeliosBold;
}
header nav {
    display: flex;
    align-items: center;
}
header nav img {
    display: block;
    height: 24px;
}
header nav img.envelope {
    margin-right: 16px;
    height: 16px;
}

section.animation {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.letters, div.collage {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
   
    div.letters {
        z-index: 2;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        
        div.line1, div.line2, div.line3, div.line4, div.line5, div.line6 {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 28px;

            span {
                display: inline-block;
                min-width: 100%;
                max-width: 100%;
            }
        }
        div.line1, div.line3, div.line5 {
            flex-direction: row;
        }
        div.line2, div.line4, div.line6 {
            flex-direction: row-reverse;
        }
        div.line2 img {
            transform: translateX(10.5%);
        }
    }
    
    div.collage {
       
        background-image: url(img/vostok-collage.jpg);
        background-color:#000000;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
        clip-path: circle(8% at 10% 20%);
        z-index: 1;
        
    }
}

.shadow {
    height: 8%;
    width: 8%;
    border-radius: 100%;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 100px;
    left: 100px;
}

